

<div class="nav" style="padding: 15px 0 5px 0">
   <ul class="list-inline text-center" style="font-size: 14px">

      <!--  <li><a href="#newform-anchor">Open shop</a></li> -->

       <li><a href="#pricing-anchor">Pricing</a></li>
       <li><a href="#questions-anchor">Frequently Asked Questions</a></li>
   </ul>
</div>
