

<div class="nav" style="padding: 5px 0 5px 0">
   <ul class="list-inline nav-left">

       <li><a href="#newform-anchor">Open shop</a></li>

       <li><a href="#pricing-anchor">Pricing</a></li>
       <li><a href="#questions-anchor">Frequently Asked Questions</a></li>
   </ul>
</div>
