
<%= render 'header' %>
<div class="banner">
<p><h3 style="text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.17)";>Open your own online bake shop...</h3></p>
</div>



<section id="pricing-anchor" class="section outer bg-blue text-white text-center bt-xs-1">
        <div class="body-max-width-980">
            <h1 class="h1 mb-xs-8">Affordable, transparent, and secure</h1>
            <div class="text-center mb-xs-8 mt-xs-8">
                <div class="display-inline-block text-left bb-xs-1 bt-xs-1 p-xs-2">
                    <div class="display-inline-block p-xs-2">
                        <h2 class="h2 mb-xs-1">
                            <span class="ss-etsy ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            No monthly fees
                        </h2>
                        <h2 class="h2">
                            <span class="ss-etsy ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Secure transactions
                        </h2>
                    </div>
                    <div class="display-inline-block p-xs-2">
                        <h2 class="h2 mb-xs-1">
                            <span class="ss-etsy ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Automatic deposits
                        </h2>
                        <h2 class="h2">
                            <span class="ss-etsy ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Seller protection
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-group text-center mb-xs-4 mb-lg-8">
                <div class="col-centered col-xs-12 col-sm-10 col-md-8  col-lg-5 mb-xs-2">
                        <div class="mb-xs-2">
                            Start selling for next to nothing.
                        </div>
                   <div class="pricing-box-container pt-xs-2 pb-xs-3">
                        <h1 class="very-large-text listing-fee-amount">
                            EUR 0.18
                            *
                        </h1>
                        <h6>Listing Fee</h6>
                   </div>
                </div>

                <div class="col-centered col-xs-12 col-sm-10 col-md-8 col-lg-5">
                   <p class="mb-xs-3 mt-xs-3">

                            Listings are active for four months or until they sell. Once purchased, there is a small commission fee and a standard payment processing fee.


                    </p>
                    <div class="pricing-box-container clearfix">
                        <div class="pricing-box pt-xs-3 pb-xs-3 pl-xs-2 pr-xs-2 width-half float-left">
                            <h2 class="mb-xs-1 etsy-commission-amount">3.5 %</h2>
                            <h6>Transaction Fee</h6>
                        </div>
                        <div class="pricing-box pt-xs-3 pb-xs-3 pl-xs-2 pr-xs-2 width-half float-left">
                            <h2 class="mb-xs-1 payment-processing-amount">4 % <span class="text-smallest">+ EUR 0.30</span></h2>
                            <h6>Payment Processing</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group">
                <div class="col-centered col-xs-12 col-sm-10 col-lg-7">
                    <div class="flag">

                        <div class="flag-body">
                            <p class="text-left">

                                        We process payments with Direct Checkout, our secure SSL-encrypted payments platform, and have security specialists and fraud detection systems to protect you and your buyers 24/7.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-centered col-xs-12 col-md-7 mt-xs-6">
                    <p class="text-smaller text-blue-lighter">

                            * Listing fees are billed for 0.20 USD, so if your bank's currency is not USD, the amount in your currency may vary based on changes in the exchange rate. Payment processing fees above are Belgium rates. Fees vary by bank country, so rates may differ depending on the location of your bank.


                    </p>
                </div>
            </div>
        </div>
    </section>

<div class="banner2">
<div class="container" id="newform-anchor">
<%= render 'form' %>
</div>
</div>

<div id="questions-anchor">
  <div class="content">
    <div class="container features">

    <div class="row">

        <!--  <div class="card-user avatar"> -->
        <div class="cardhow padded">

         <h2 class="text-center">Frequently Asked Questions</h2>

          <div class="row">
            <div class="col-md-6">
              <p><strong>How do I join as a baker?</strong></p>

              <p>Simply fill in the form and set up your baker profile. The Sweet Joy App sets up your shop. Upload your products, and your store will be open for your customers to browse and buy your unique homemade products!</p>

              <p><strong>How do fees work on Sweet Joy?</strong></p>

            </div>
            <div class="col-md-6">
             <p><strong>Do I need a credit or debit card to create a shop?</strong></p>

<p>No, a credit or debit card is not required to create a shop. To be verified as a seller you have the choice to use either a credit card or to register via PayPal. You will not incur any charges until you open your shop and publish your listings.</p>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <p>Joining and starting a shop on Sweet Joy is free. There are three basic selling fees: a listing fee, a transaction fee, and a payment processing fee.
            It costs EUR 0.18 to publish a listing to the marketplace. A listing lasts for four months or until the item is sold. Once an item sells, there is a 3.5% transaction fee on the sale price (not including shipping costs).</p>
              </div>
              <div class="col-md-6">
                <p>If you accept payments through Sweet joy’s Direct Checkout payment system, we also collect a 4% + EUR 0.30 payment processing fee when an item is sold.
            Listing fees are billed for $0.20 USD, so if your bank's currency is not USD, the amount may differ based on changes in the exchange rate. The payment processing fee may also vary by bank country.</p>

              </div>
            </div>

      </div>
    </div>



</div>
</div>


<!--

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Open your shop</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Frequently asked questions</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
      <ul>
 <li>How do fees work on Sweet Joy?</li>

<li>Joining and starting a shop on Sweet Joy is free. There are three basic selling fees: a listing fee, a transaction fee, and a payment processing fee.
It costs EUR 0.18 to publish a listing to the marketplace. A listing lasts for four months or until the item is sold. Once an item sells, there is a 3.5% transaction fee on the sale price (not including shipping costs). If you accept payments through Sweet joy’s Direct Checkout payment system, we also collect a 4% + EUR 0.30 payment processing fee when an item is sold.
Listing fees are billed for $0.20 USD, so if your bank's currency is not USD, the amount may differ based on changes in the exchange rate. The payment processing fee may also vary by bank country.</li>
</ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Find out more</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
   <section id="pricing-anchor" class="section outer bg-blue text-white text-center bt-xs-1">
        <div class="body-max-width-980">
            <h1 class="h1 mb-xs-8">Affordable, transparent, and secure</h1>
            <div class="text-center mb-xs-8 mt-xs-8">
                <div class="display-inline-block text-left bb-xs-1 bt-xs-1 p-xs-2">
                    <div class="display-inline-block p-xs-2">
                        <h2 class="h2 mb-xs-1">
                            <span class="ss-etsy ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            No monthly fees
                        </h2>
                        <h2 class="h2">
                            <span class="ss-etsy ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Secure transactions
                        </h2>
                    </div>
                    <div class="display-inline-block p-xs-2">
                        <h2 class="h2 mb-xs-1">
                            <span class="ss-etsy ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Automatic deposits
                        </h2>
                        <h2 class="h2">
                            <span class="ss-etsy ss-check icon-smaller mr-xs-2 ml-xs-2"></span>
                            Seller protection
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-group text-center mb-xs-4 mb-lg-8">
                <div class="col-centered col-xs-12 col-sm-10 col-md-8  col-lg-5 mb-xs-2">
                        <div class="mb-xs-2">
                            Start selling for next to nothing.
                        </div>
                   <div class="pricing-box-container pt-xs-2 pb-xs-3">
                        <h1 class="very-large-text listing-fee-amount">
                            EUR 0.18
                            *
                        </h1>
                        <h6>Listing Fee</h6>
                   </div>
                </div>

                <div class="col-centered col-xs-12 col-sm-10 col-md-8 col-lg-5">
                   <p class="mb-xs-3 mt-xs-3">

                            Listings are active for four months or until they sell. Once purchased, there is a small commission fee and a standard payment processing fee.


                    </p>
                    <div class="pricing-box-container clearfix">
                        <div class="pricing-box pt-xs-3 pb-xs-3 pl-xs-2 pr-xs-2 width-half float-left">
                            <h2 class="mb-xs-1 etsy-commission-amount">3.5 %</h2>
                            <h6>Transaction Fee</h6>
                        </div>
                        <div class="pricing-box pt-xs-3 pb-xs-3 pl-xs-2 pr-xs-2 width-half float-left">
                            <h2 class="mb-xs-1 payment-processing-amount">4 % <span class="text-smallest">+ EUR 0.30</span></h2>
                            <h6>Payment Processing</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-group">
                <div class="col-centered col-xs-12 col-sm-10 col-lg-7">
                    <div class="flag">

                        <div class="flag-body">
                            <p class="text-left">

                                        We process payments with Direct Checkout, our secure SSL-encrypted payments platform, and have security specialists and fraud detection systems to protect you and your buyers 24/7.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-centered col-xs-12 col-md-7 mt-xs-6">
                    <p class="text-smaller text-blue-lighter">

                            * Listing fees are billed for 0.20 USD, so if your bank's currency is not USD, the amount in your currency may vary based on changes in the exchange rate. Payment processing fees above are Belgium rates. Fees vary by bank country, so rates may differ depending on the location of your bank.


                    </p>
                </div>
            </div>
        </div>
    </section>
  </div>
</div>
</div>

 -->
