<div id="footer" class="text-center padded">
    <ul class="list-inline">
    <li>
      <a href="https://www.youtube.com/watch?v=e0HKFx7zJKw">
        <i class="fa fa-youtube fa-3x" style="color: white"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/p/-1ZQKqooyd/">
        <i class="fa fa-instagram fa-3x" style="color: white"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/Sweet-Joy-Cafe-e-Confeitaria-290633780988236/?fref=ts">
        <i class="fa fa-facebook fa-3x" style="color: white"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/SweetJoy_BR">
        <i class="fa fa-twitter fa-3x" style="color: white"></i>
      </a>
    </li>
    </ul>
</div>
