<div class="banner">
<div class="content">
<p><h3>Discover sweet creations around you...</h3></p>
    <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Enter a full address">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
</div>
</div>


    <div id="trust">

  <div class="container text-center padded features">
   <div class="row">
   <div class="col-xs-12 col-sm-6 col-md-3">
    <h2>How it works</h2>
    <p>We source the freshest and best tasting cakes from home bakers around the world</p>
   <div class="btn-medium">
    <%= link_to "Get started", products_path %>
    </div>
   </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
       <!-- <img src="images/globe.png" alt=""> -->
        <i class="fa fa-search fa-4x" id="large-icon"></i>
       <h2>1.</h2>
       <p>Select your cake</p>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
       <!-- <img src="images/dollar.png" alt=""> -->
       <i class="fa fa-mouse-pointer fa-4x"></i>

       <h2>2.</h2>
       <p>Place an order.</p>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
       <!-- <img src="images/beer.png" alt=""> -->
       <i class="fa fa-birthday-cake fa-4x"></i>

       <h2>3.</h2>
       <p>Pick up your cake and enjoy!</p>
     </div>
   </div>
</div>
</div>





<div class="blue-background">

  <div class="container">
    <div class="row">
      <h4 class="panel text-center">Top picks</h4>




      <div class="col-xs-12 col-sm-4">


       <div class="card" id="pick-a">
        <a class="card-link" href="bakers/1"></a>
    </div>
    </div>


    <div class="col-xs-12 col-sm-4">

      <div class="card" id="pick-b">
        <a class="card-link" href="bakers/2"></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" id="pick-c">
        <a class="card-link" href="bakers/3"></a>
      </div>
    </div>
  </div>
</div>
</div>


 <div class="cardhow">
 <div class="text-center padded">
 <h4>Meet Joicy</h4>
</div>
 </div>
<div class="bannernew">
</div>



<div id="trust">
<div class="content">
<div class="container text-center padded features">
   <div class="row">
  <!--  <div class="card-user avatar"> -->


   <div class="cardhow">
      <%image_tag "wedding.jpg" %>
    <p><i>I think baking is a labour of love, passed down from generation to generation.</i></p>
    <p>Meet <%=link_to "Joicy", bakers_path %> from Curitiba, Brazil</p>
    </div>
    </div>
</div>
</div>
</div>
