// Your footer style
//
//
#footer {
    background: #333 none repeat scroll 0% 0%;
    padding: 30px 0px;
    color: #CCC;
}


* {
    box-sizing: border-box;
}


.padded {
    padding: 50px 0px;
}
.text-center {
    text-align: center;
}
